python-dotenv>=1.0.0
fabric>=2.5.0
pyOpenSSL >= 23.3.0
cryptography >= 41.0.7
multidispatch>=0.2
pip-tools>=7.3.0
PyYAML==6.0.1
pytest==7.4.3
pytest-asyncio==0.21.1
pytest-assume==2.3.3
pytest-mock==3.12.0
HiYaPyCo>=0.4.16
Jinja2>1
packaging>=24.0